#main {
    height:300px;
    width:1000px;
    border:2px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.box1,.box2,.box3 {
    height:240px;
    width:240px;
    border:1px solid rgb(0, 0, 0);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    padding-top:20px;
    box-shadow: 3px 3px 5px black;
}
.inner1,.inner2,.inner3 {
    text-align: center;
    margin:0 0 80px 80px;
    height: 80px;
    width:80px;
    background-color: rgb(70, 170, 243);
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 2em;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
   
}
p {
    text-align: center;
    margin:1px;
}
h2 {
    text-align: center;
    margin:1px;
   

}
/* .box1 :hover {
    box-shadow: 6px 6px 6px black;

} */
