#outer {
    width: 90%;
    height: 500px;
    border:2px solid black;
    border-radius:20px;
    padding:10px;
    align-items: center;
    justify-content: center;
}
.box1 {
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-size: xx-large;
    height:42px;
    width:auto;
    background-color:black;
    color:white;
    /* align-items: center;
    justify-content: center; */
    text-align: center;
    
}
.box2 {
    height:420px;
    width:350px;
    border:1px solid black;
    margin-top: 20px;
    display:flex;
    margin-left:500px;
     flex-direction: column; 
    /* align-items: center;
    justify-content: center; */ 
    

}
.inner1{
    height:300px;
    width:300px;
    border:1px solid black;
    margin:10px 25px 0 25px;
    background-image:url(T-shirt.webp);
    background-size:cover;
    
}
.inner2{
    height:30px;
    width:auto;
    background-color:rgb(45, 138, 237);
    border:1px solid black;
    border-radius:5px;
    margin:15px 25px 10px 25px;
    color:white;
    text-align: center;
    align-content: center;
    
}
h3,p {
    margin: 1px 10px 1px 26px;
    /* text-align: center; */
    letter-spacing: -1px;
    font-family: Arial, Helvetica, sans-serif;
}
b{
    color:green;
}